<div class="main-menu-overlay" [class.visible]="isVisible">
    <main>
        <div id="parchment"></div>
        <div id="contain">
            <h2 class="title">Project ClearView</h2>
            <div class="menu-content">
                <button class="btn-parchment" (click)="startGame()">Start</button>
                <button class="btn-parchment" (click)="openSettings()">Settings</button>
            </div>
        </div>
    </main>

    <svg>
        <filter id="wavy2">
            <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1" />
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
    </svg>
</div>
