<!-- src/app/pages/home/home.component.html -->
<section class="container">
    <div class="card-glass">
        <h2>Project ClearView</h2>
        <p>
            Bringing performant 3D-WebApps to life with <strong>Angular</strong>, <strong>TypeScript</strong> and
            <strong>Babylon.js</strong>.
        </p>
        <p>
            Check out the interactive Demo.
        </p>
        <a class="btn" [routerLink]="'/demo'">Start Demo</a>
        <a class="btn" [routerLink]="'/about'">About PCV</a>
        <a class="btn" [routerLink]="'/settings'">Settings</a>
    </div>
</section>